In [1]:
import math

In [2]:
math.ceil(10.1)

11

In [3]:
math.sqrt(10.1)

3.1780497164141406

In [4]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [5]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [6]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [7]:
math.floor(10.2)

10

In [8]:
math.gcd(10,20)

10

In [9]:
math.fabs(10.2333)

10.2333

In [10]:
help(math.tan)

Help on built-in function tan in module math:

tan(x, /)
    Return the tangent of x (measured in radians).

In [11]:
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [12]:
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [13]:
__init__.py:
__all__ = ["bar"]

SyntaxError: invalid syntax (<ipython-input-13-3d7430ffacf8>, line 1)

In [14]:
print('Hello')

Hello

In [15]:
print('hello)

SyntaxError: EOL while scanning string literal (<ipython-input-15-126035ba983d>, line 1)

In [16]:
try:
    f = open('testfile','w')
    f.write('test write this')
except IOError:
        print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Content written successfully

In [17]:
try:
    f = open('testfile','r')
    f.write('test write this')
except IOError:
        print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Error: Could not find file or read data

In [18]:
try:
    c=10/2
    print(c)
except IOError:
    print("Arithematic exception occoured")
else:
    print("contented is correct")

5.0
contented is correct

In [19]:
try:
    c=10/0
    print(c)
except IOError:
    print("Arithematic exception")
else:
    print("contented is correct")

ZeroDivisionError: division by zero

In [20]:
try:
    f = open("textfile","w")
    f.write("Test write statement")
finally:
    print("Always execute finally code blocks")

Always execute finally code blocks

In [21]:
def askin():
    try:
        val = int(input("Please enter integer no only"))
    except:
        print("you have not given integer no.")
    finally:
        print("Finally , I got output")
    print(val)

In [22]:
askin()

Please enter integer no only2.3
you have not given integer no.
Finally , I got output

UnboundLocalError: local variable 'val' referenced before assignment

In [23]:
askin()

Please enter integer no only10
Finally , I got output
10

In [24]:
def askin():
    try:
        val = int(input("Please enter integer no only"))
    except:
        print("you have not given integer no.")
        val = int(input("Please enter integer only"))
    finally:
        print("Finally , I got output")
    print(val)

In [25]:
askin()

Please enter integer no only2.3
you have not given integer no.
Please enter integer only10
Finally , I got output
10

In [26]:
askin()

Please enter integer no only1.3
you have not given integer no.
Please enter integer only10
Finally , I got output
10

In [27]:
def askin():
    while True:
        try:
            val = int(input("Please enter integer no only: "))
        except:
            print("you have not given integer no.")
            continue
        else:
            print('its integer')
            break
        finally:
            print("Finally , I got output")
        print(val)

In [28]:
askin()

Please enter integer no only: str
you have not given integer no.
Finally , I got output
Please enter integer no only: 1.3
you have not given integer no.
Finally , I got output
Please enter integer no only: 10
its integer
Finally , I got output

In [14]:
import sqlite3

In [12]:
db = sqlite3.connect("my_database1.db")

NameError: name 'sqlite3' is not defined

In [32]:
db.execute("drop table if exists grade1")

In [33]:
db.execute("create table grades1(id int,name text,score int)")

In [34]:
db.execute("insert into grades1(id,name,score) values(101,'John',99)")

In [35]:
db.execute("insert into grades1(id,name,score) values(102,'abdul',96)")

In [36]:
db.execute("insert into grades1(id,name,score) values(102,'rahul',95)")

In [9]:
db.commit()

NameError: name 'db' is not defined

In [7]:
res = db.execute("select * from grades1 order by id")
for x in res:
    print(x)
print("-" * 60)

NameError: name 'db' is not defined

In [41]:
res = db.execute("select * from grades1 order by id desc")
for x in res:
    print(x)
print("-" * 60)

(102, 'abdul', 96)
(102, 'rohit', 95)
(101, 'John', 99)
------------------------------------------------------------

In [42]:
res = db.execute("select * from grades1 where name='rohit'")
for x in res:
    print(x)
print("-" * 60)

(102, 'rohit', 95)
------------------------------------------------------------

In [43]:
res = db.execute("select * from grades1 where id=101")
for x in res:
    print(x)
print("-" * 60)

(101, 'John', 99)
------------------------------------------------------------

In [44]:
res = db.execute("select * from grades1 where score > 96")
for x in res:
    print(x)
print("-" * 60)

(101, 'John', 99)
------------------------------------------------------------

In [45]:
res = db.execute("select name,id from grades1 order by id")
for x in res:
    print(x)
print("-" * 60)

('John', 101)
('abdul', 102)
('rohit', 102)
------------------------------------------------------------